.wrapper {
  margin-top: 20px;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  /* align-items: flex-start; */
}

.poster {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.info {
  max-width: 400px;
}

.navList {
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.navItem {
  color: blue;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: yellow;
    text-decoration-thickness: 3px;
  }
}

.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: yellow;
  text-decoration-thickness: 3px;
}
