.list {
  padding: 10px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.posterItem {
  max-width: 200px;
}

.itemLink {
  color: blue;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: yellow;
    text-decoration-thickness: 3px;
  }
}

.posterImg {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.posterText {
  text-align: center;
}
